blinker==1.9.0
Brotli==1.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
cssutils==2.11.1
dash==3.1.1
expiringdict==1.2.2
feffery_antd_charts==0.2.2
feffery_antd_components==0.4.0
feffery_dash_utils==0.2.6
feffery_utils_components==0.3.3
Flask==3.1.2
Flask-Compress==1.18
Flask-Login==0.6.3
Flask-Principal==0.4.0
greenlet==3.2.4
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
MarkupSafe==3.0.2
more-itertools==10.7.0
multidict==6.6.3
narwhals==2.2.0
nest-asyncio==1.6.0
numpy==2.3.2
packaging==25.0
pandas==2.3.1
peewee==3.18.2
pillow==11.3.0
plotly==6.3.0
propcache==0.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyzstd==0.17.0
reportlab==4.4.3
requests==2.32.5
retrying==1.4.2
setuptools==78.1.1
SQLAlchemy==2.0.43
typing_extensions==4.15.0
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.5.0
user-agents==2.2.0
Werkzeug==3.1.3
wheel==0.45.1
win32_setctime==1.2.0
wxPython==4.2.3
yarl==1.20.1
zipp==3.23.0
